<LinkTo @route='index'>
  <nav class="nav-link no-link-underline">reservation app</nav>
</LinkTo>

<div class='link-container'>
  <LinkTo @route="index" class="link no-link-underline">home</LinkTo>
  <LinkTo @route="about" class="link no-link-underline">about</LinkTo>
  <LinkTo @route="reserve" class="link no-link-underline">make a reservation</LinkTo>
</div>